<!DOCTYPE html>
<html lang='en'>

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Welcome to Mietnam</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel='stylesheet' type='text/css' href='styles/styles.css'>

</head>

<body>
  <nav class='navbar navbar-fixed-top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <h1><a class='navbar-brand' href='#'>Mietnam</a></h1>
      </div>
    </div>
  </nav>

  <section>
    <div class='landing text-center'>
      <div class='container-fluid landing-content'>
        <h1>ARE YOU HUNGRY?</h1>
        <div class='btn-down'><i class='animated pulse infinite fa fa-arrow-circle-o-down fa-4x' aria-hidden='true'></i>
          <div>
          </div>
        </div>
  </section>

  <main id='menu' class='container-fluid'>
    <div class='row'>
      <div class='col-md-9'>
        <div class='row menu-wrapper'>

        </div>
      </div>

      <div class='row'>
        <div class='col-md-3'>
          <div data-spy='affix' data-offset-top='650'>
            <section class='cart-wrapper'>
              <h3>Your Cart</h3>
                <!--<ul>-->
                  <!--<li>Food Item 1: [placeholder]</li>
                  <li>Price: [$xx]</li>
                  <li>Quantity: [xx]</li>
                  <li>Total: [$xx]</li>-->
                <!--</ul>-->
              <p><a href='#' class='btn btn-primary place-order' role='button'>Place Order</a><a href='#' class='btn btn-warning cancel-order'
                  role='button'>Cancel</a></p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class='navbar navbar-default navbar-bottom'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='address navbar-right'>
          <p>Address: 128 W. Hastings Ave, Vancouver, BC</p>
          <p>Phone: 604-888-9999</p>
          <p>Hours: 9am-9pm</p>
        </div>
        <div class='social'>
          <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
