<!DOCTYPE html>
<html lang='en'>

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Welcome to Maenam</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u'
    crossorigin='anonymous'>
  <link rel='stylesheet' type='text/css' href='styles/styles.css'>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
    crossorigin='anonymous'></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <nav class='navbar navbar-fixed-top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='#'>Maenam</a>
      </div>
      <div class='navbar-right'>
        <a class='navbar-text' href='#'><i class='fa fa-shopping-cart fa-2x' aria-hidden='true'></i></a>
      </div>
    </div>
  </nav>

  <section>
    <div class='landing text-center'>
      <div class='container-fluid landing-content'>
        <h1>Are you hungry?</h1>
        <div><a href='#menu' class='btn-down'><i class='animated pulse infinite fa fa-arrow-circle-o-down fa-4x' aria-hidden='true'></i></a>
        </div>
      </div>
    </div>
  </section>

  <main id='menu' class='container-fluid'>
    <div class='row'>
      <div class='col-md-9'>
        <div class='row menu-wrapper'>
                 
        </div>
      </div>

      <div class='col-md-3'>
        <div data-spy='affix' data-offset-top='650'>
          <div class='row'>
            <section class='cart-wrapper'>
              <h3>Your Cart</h3>
                <!--<ul>-->
                  <!--<li>Food Item 1: [placeholder]</li>
                  <li>Price: [$xx]</li>
                  <li>Quantity: [xx]</li>
                  <li>Total: [$xx]</li>-->
                <!--</ul>-->
              <p><a href='#' class='btn btn-primary place-order' role='button'>Place Order</a><a href='#' class='btn btn-warning cancel-order'
                  role='button'>Cancel</a></p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <footer class='row'>
      <div class='col-xs-12'>
        <div class='address'>
          <p>Address: 128 W. Hastings Ave, Vancouver, BC</p>
          <p>Phone: 604-888-9999</p>
          <p>Hours: 9am-9pm</p>
        </div>
        <div class='social'>
          <i class="fa fa-facebook fa-4x" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </footer>
  </main>


</body>

</html>

