<!DOCTYPE html>
<html lang='en'>

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Welcome to Mietnam</title>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel='stylesheet' type='text/css' href='styles/styles.css'>

</head>

<body>
  <nav class='navbar navbar-fixed-top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a href="#"><h1 class='navbar-brand'>Mietnam</h1></a>
      </div>
    </div>
  </nav>
  <div id='nav-bg'></div>
  <section>
    <div class='landing text-center'>
      <div class='container-fluid landing-content'>
        <h1 class='animated fadeInDown'>ARE YOU HUNGRY?</h1>
        <div class='btn-down'><i class='animated pulse infinite fa fa-arrow-circle-o-down fa-4x' aria-hidden='true'></i>
          <div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main id='menu' class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-md-9'>
        <div class='row menu-wrapper'>

        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 col-md-3'>
          <div data-spy='affix' data-smart-affix=''>
            <section class='cart-wrapper'>
              <h3>Your Cart</h3>
              <section class='selected-dish'>
                
              </section>
              <div class='hr'></div>
              <h4 class='total'>Total: $<span id="cart-total">0.00</span></h4>
              <div>
                <button class='btn btn-primary btn-lg btn-block' disabled='disabled' role='button'>Place Order</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

    <footer class='navbar navbar-default navbar-bottom'>
      <div class='row'>
        <div class='col-xs-12'>
          <div class='address navbar-right'>
            <p>Address: 128 W. Hastings Ave, Vancouver, BC</p>
            <p>Phone: 604-888-9999</p>
            <p>Hours: 9am-9pm</p>
          </div>
          <div class='social'>
            <a href='https://www.facebook.com/MaenamThaiRestaurant/'><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href='https://www.instagram.com/maenamrestaurant/'><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href='https://twitter.com/maenam'><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </footer>

</body>

</html>
