<!DOCTYPE html>
<html lang='en'>

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Welcome to Mietnam</title>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel='stylesheet' type='text/css' href='styles/styles.css'>

</head>

<body>
  <section>
    <div class='landing text-center'>
      <div class='container-fluid landing-content'>
        <h1 class='animated fadeInDown'>INSERT ORDER INFO HERE !</h1>
          <form action='/orders/customerupdate' method='POST'>
              <div class='form-group'>
                <label for='name'>Order Number</label>
                <input class='form-control' id='name' type='text' name='name' placeholder='Order Number'>
              </div>
              <div class='form-group'>
                <label for='phone_number'>Prepration Time</label>
                <input class='form-control' type='tel' id='phone_number' name='phone_number' placeholder='Preperation time i.e. 30 mins'>
              </div>
            
              <input class='btn btn-primary pay-order' type='submit' role='button' value='Notify Customer'>
            </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
