<section class='cart-wrapper'>
  <h3>Your Cart</h3>
  <section class='selected-dish'>
      
  </section>
  <div class='hr'></div>
  <h4 class='total'>Total: $<span id="cart-total">0.00</span></h4>
  <div>
    <button class='btn btn-primary btn-lg btn-block place-order disabled' role='button'>Proceed to Checkout</button>
  </div>
</section>